{% extends "master.html" %}
{% load static %}

{% block title %}
Laptop
{% endblock %}


{% block content %}

{% for x in myComputer %}
<section>
    <h2>{{x.ComputerName}}</h2>
    <!-- <img src="dell-xps-13.jpg" alt="Dell XPS 13"> -->
    <p>Price : {{x.Price}}</p>
    <a href="imformation/{{x.id}}">Laptop details</a>
</section>

{% endfor %}
<!-- <section>
    <a href="{% url 'view_wishlist' %}">wish</a>
    <a href="filter/">filter</a>
    <a href="main/">main</a>

</section> -->

{% endblock %}