<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/static/css/test.css">
</head>

<body>
    <div class="max">
        <div class="top">
            <div>IMG</div>
            <div class="title">Computer</div>
            <div>searchbox</div>
        </div>
        <div class=""></div>
        <ul>
            {% for x in myComputer %}
            <li>
                <a href="imformation/{{x.id}}">{{x.ComputerName}}</a>
            </li>
            {% endfor %}
        </ul>

        <a href="main/">main</a>

    </div>

    <!---->
    <hr>

    

</body>

</html>