<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/static/css/test.css">
</head>

<body>
    <div class="max">
        <div class="top">
            <div>IMG</div>
            <div class="title">Computer</div>
            <div>
                <form action="." method="search">
                    <input type="text">
                    <input type="submit" value="search">
                </form>
            </div>
        </div>
        <div class="middle">
            
            <div class="page">
                <ul>
                    {% for x in myComputer %}
                    <li>
                        <a href="imformation/{{x.id}}">{{x.ComputerName}}</a>
                    </li>
                    {% endfor %}
                </ul>

                <a href="main/">main</a>

            </div>
            <div class="right">
                <p>asdasd</p>
            </div>

        </div>

    </div>

    <!---->
    <hr>



</body>

</html>