{% extends "master.html" %}
{% load static %}

{% block title %}
Add to wishlist
{% endblock %}

{% block content %}
<style>
    body div {
        text-align: center;
    }
</style>

<body>
    <div>
        {% if request.user.is_authenticated %}
        <h1>My Wishlist</h1>
        <ul>
            {% for item in wishlist_items %}
            <li>{{ item.user }} {{ item.computer.ComputerName }} ${{ item.computer.Price }}

            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'add_to_wishlist' %}">Add Item</a>
        {% endif %}
    </div>
</body>
<!-- <a href="{% url 'login' %}"></a> -->
{% endblock %}